/* Event section rules */
section.events
{
    background: url('/public/images/backgrounds/bg_ca.png') repeat scroll;
}

section.events > h2
{
    text-align: center;
    padding-top: 1.25rem;
}

section.events > div#events_slider
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 450px;
    overflow-x: auto;
    padding-bottom: 20px;
}

article.events > *
{
    padding: 0 10px;
}

article.events
{
    position: relative;
    height: 100%;
    width: 260px;
    background: rgba(255, 255, 255, 0.2);
    margin: 0 10px;
}

article.events > img
{
    padding: 0;
    width: 260px;
    height: 260px;
}

article.events > a.button
{
    margin: 10px 60px;
    position: absolute;
    bottom: 0;
}

#welcome
{
    height: 25vh;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

